 <header class="mainheader">
  <div class="container sm-pt-1 sm-pb-1">
    <h1 class="h3">Instant Assistant</h1>
    <nav class="mainheader__nav">
      <ul>
        <li><%= link_to "Create a task", root_path %></li>
        <li><%= link_to "Show me tasks", tasks_path %></li>
        <li><%= link_to "Assistant", new_assistant_path, class: 'active' %></li>
      </ul>
    </nav>
  </div>
</header>

<main class="container sm-pt-1 sm-pb-1 lg-pt-2 lg-pb-2">
  <%= form_for @assistant do |f| %>My name is
  <%= f.text_field :full_name , :placeholder => 'e.g. Coconut Water' %>, &amp; email is <%= f.text_field :email , :placeholder => 'name@mail.com' %>, you can reach me at
    <%= f.text_field :phone , :placeholder => '0031621977967' %>

    <div class="nl-submit-wrap">

      <%= button_to @assistant, :class => 'nl-submit' do %>
        Start helping
      <% end %>

    </div>

    <div class="nl-overlay"></div>

  <% end %>
</main>

<script>
  var nlform = new NLForm( document.getElementById( 'new_assistant' ) );
</script>