 <header class="mainheader">
  <div class="container">
    <h1>Instant Assistant</h1>
    <nav class="mainheader__nav">
      <ul>
        <li><a href="">Menu 1</a></li>
        <li><a href="">Menu 2</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="container sm-pt-1 sm-pb-1 lg-pt-2 lg-pb-2">
<%= form_for @task do |f| %>
  <div class="row sm-pb-1">
    <%= f.label :first_name, :class => 'sm-12 lg-2' %>
    <div class="sm-12 lg-10">
      <%= f.text_field :first_name , :placeholder => 'e.g. Awesome Sauce'%>
    </div>
  </div>

  <div class="row sm-pb-1">
    <%= f.label :last_name, :class => 'sm-12 lg-2' %>
    <div class="sm-12 lg-10">
      <%= f.text_field :last_name , :placeholder => 'e.g. Awesome Sauce'%>
    </div>
  </div>

  <%= f.submit %>
<% end %>
</main>