 <header class="mainheader">
  <div class="container sm-pt-1 sm-pb-1">
    <h1 class="h3">Instant Assistant</h1>
    <nav class="mainheader__nav">
      <ul>
        <li><%= link_to "Create a task", root_path %></li>

        <li><%= link_to "Show me tasks", tasks_path, :class => 'active' %></li>
        <li><%= link_to "Assistant", new_assistant_path %></li>
      </ul>
    </nav>
  </div>
</header>

<main class="container sm-pt-1 sm-pb-1 md-pt-2 md-pb-2">
  <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
  <% end -%>

  <ul class="tasks">
    <% @tasks.each do |t| %>
    <li class="task <%= 'taken' if t.available == false %>">
      <h2><%= t.title %></h2>
      <p><%= t.description %></p>
      <div class="actions">
        <% if t.available == true %>
          <p class="est">You'll earn:&euro; <%= t.money %></p>
          <%= link_to "Pick this task", {controller: 'tasks', action: 'assign_task', id: t.id}, class: 'button button--small', 'data-push-notification' => t.money, 'data-push-notification-title' => t.title %>
        <% else %>
        <div class="checkblock">
          <%= t.assistant.full_name.split(' ').first %> is taking care of it <br>at
          <time><%= t.updated_at.strftime("%d %B %Y %H:%M") %></time>

          <div class="nextactions">
            <%= link_to "UBER", 'tasks/choose_location', class: 'button button--small' %>
            <%= link_to "Cancel", { controllers: 'tasks', action: "cancel_task", id: t.id }, 'data-push-notification-cancel' => '', 'data-push-notification-title' => t.title, class: 'button button--small button--cancel' %>
          </div>

          <%= link_to "Cancel", { action: "cancel_task", id: t.id }, 'data-push-notification-cancel' => '', 'data-push-notification-title' => t.title, class: 'button button--small button--cancel' %>

        </div>
        <% end %>
      </div>
    </li>
    <% end %>

    <li class="task taken">
      <h2>Dummy text title in x hour</h2>
      <p>This is just a dummy description</p>

      <div class="actions">
        <div class="checkblock">
          Task is taken by Ivana<br>
          <time>25 May 2016 at 13:30</time>
        </div>
      </div>
    </li>

    <li class="task expired">
      <h2>Dummy text title in x hour</h2>
      <p>This is just a dummy description</p>
      <div class="actions">
        <p class="est">You could've earned:&euro; 50</p>
        <a href="" class="button button--small">Expired</a>
      </div>
    </li>
  </ul>
</main>

