 <header class="mainheader">
  <div class="container sm-pt-1 sm-pb-1">
    <h1 class="h3">Instant Assistant</h1>
    <nav class="mainheader__nav">
      <ul>
        <li><%= link_to "Create a task", root_path, class: 'active' %></li>
        <li><%= link_to "Show me tasks", tasks_path %></li>
        <li><%= link_to "Sign up", new_assistant_path %></li>
      </ul>
    </nav>
  </div>
</header>

<main class="container sm-pt-1 sm-pb-1 lg-pt-2 lg-pb-2">
  <%= form_for @task do |f| %>I'm looking for someone who can help me

    <%= f.text_field :title , :placeholder => 'be awesome', 'data-subline' => 'For example: be awesome' %>

    with description of

    <%= f.text_field :description , :placeholder => 'cleaning my mess', 'data-subline' => 'For example: cleaning my mess' %>

    for €<%= f.number_field :money , :placeholder => '25', 'data-subline' => 'e.g. €50' %>

    <div class="nl-submit-wrap">

      <%= button_to @task, :class => 'nl-submit' do %>
        Create
      <% end %>

    </div>

    <div class="nl-overlay">
      <div class="spinner hide">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>

  <% end %>

</main>

<script>
  var nlform = new NLForm( document.getElementById( 'new_task' ) );
</script>